
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
Providers
      </h1>
      

      <h2 class="govuk-heading-m">Prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/step-by-step-navigation">Step by step</a>
        </li>
        <li>
          <a href="/task-list">Task list</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
