{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get funding as a service provider
      </h1>

      <p class="govuk-body">
       Check what you need to do to get your funding. 
       </p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 8 sections.</p>



      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Review guidance, rules and timetables
          </h2>
         <ul class="app-task-list__items">
           <p class="govuk-body">
      Review the ILR data collection timetables for the Academic Year to understand what learner data is needed, and for what purpose.       </p>
         
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Review the ILR data collection timetables
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            
            <p class="govuk-body">
       <br>Check your learner data complies with the funding rules and guidance for your provision.
       </p>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  ILR provider support manual
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  ILR specification documents
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Funding rules
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Generate an ILR file
          </h2>


          <ul class="app-task-list__items">
          <p class="govuk-body">
Most training providers use a management information (MI) system to record information about their learners. If you do not have one, then use the free learner entry tool for up to 500 learners.
</p>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Learner entry tool
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <p class="govuk-body">
            <br>If you need to combine multiple ILR files, then download the ILR file merge tool to merge multiple files before you upload the data.
            </p>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  ILR file merge tool
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Validate ILR before submission
          </h2>
          <ul class="app-task-list__items">
          <p class="">
          The Funding Information System (FIS) is available for download.  This software is supplied free of charge to providers who submit ILR data to the ESFA.  You can use FIS to validate ILR files before they are submitted on Submit Learner Dataand to produce indicative funding reports.
          </p>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
              <a href="https://submit-learner-data.service.gov.uk/publicdownloads/Desktop" aria-describedby="FIS">
               Download FIS
              </a>
               
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <p "govuk-body">
             <br>Guidance for this step:
            </p>
            <ol class="govuk-list govuk-list--bullet">
            <li>
            ESFA communities (peer support forum)
            </li>
            </ol>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Submit ILR file
          </h2>
          <ul class="app-task-list__items">
            {# <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  See important dates (data collection maintenance schedule for 2021 to 2022)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li> #}
            <p class="govuk-body">
           <br> Upload your ILR file using Submit learner data
If you are submitting apprenticeships data, make sure the data has an approved employer commitment in the Apprenticeship service.
</p>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Upload your ILR file using Submit learner data
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span>Resolve any data issues/Check for accuracy
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Use our reports to check your ILR data
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <p "govuk-body">
            <br>Guidance for this step:
            </p>
            <ol class="govuk-list govuk-list--bullet">
            <li>
            <a href="https://esfahelp.education.gov.uk/hc/en-gb/community/topics/360000847259-Training-Providers">ESFA communities (peer support forum)</a>
            </li>
             <li>
            <a href="https://esfahelp.education.gov.uk/hc/en-gb">ESFA help centre</a>
            </li>
            <li>
            <a href="https://www.gov.uk/government/collections/esfa-update">ESFA weekly newsletter 'Update'</a>
            </li>
             <li>
            <a href="https://www.gov.uk/government/collections/sfa-funding-rates">Self-service information on ESFA funding rules, rates and formula</a>
            </li>
            <li>
            <a href="https://guidance.submit-learner-data.service.gov.uk/">Further information about ILR data submission</a> (including how and when to return data)
            </li>
            </ol>
          </ul>
        </li>

<li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span>Check data for compliance or audit issues
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Use provider data self-assessment toolkit (PDSAT) to track data issues that our audit team are monitoring 
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
             <p "govuk-body">
             <br>Guidance for this step:
            </p>
             <ul class="govuk-list govuk-list--bullet">
             <li>
            We review all submissions after the return deadline and create <a href="https://www.gov.uk/guidance/esfa-financial-assurance-monitoring-the-funding-rules#monitoring-the-funding-rules-2020-to-2021">funding and monitoring reports</a>. You can use these to review and correct any learner data that is reported as not looking credible.
            </li>
            </ul>
          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
